* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #222;
  }
  
body {
  
  background-color: white;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.info {
  text-align: left;
  font-size: 18px;
  color: #222;
  margin: 20px 0;
  padding-left: 10px;
}

.discover {
  margin: 15px 0;
  font-weight: bold;
  font-size: 48px;
  padding:0;
  color: #002655;
}

h1 {
  font-weight: normal;
  padding:0;
  margin:0 0 30px 0;
  color: #002655;
  font-size: 38px;
  text-transform: lowercase;
}

h1>span{
  color: #ffaf01;
}

.form {
  margin: 15px 0;
  padding: 20px;
  border: solid 1px #555;
  background-color: #5C6060;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
}

.form > * {
  width: 100%;
}

.form>label {
  color: #fff;
}

.date-select {
  border: solid 1px #555;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 3px;
  font-size: 16px;
}


.date-select.btn-go {
  background-color: #ffaf01;
  color: #002655;
  font-size: 16px;
  font-weight: bold;
}

.menu-buttons {
  margin-bottom: 40px;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  border: solid 1px #555;
  width: 150px;
  padding: 10px 24px;
  margin: 3px 12px;
  border-radius: 3px;
  font-size: 16px;
  color: #222;
  background-color: #ddd;
  vertical-align: middle;
} 

.menu-button img {
  vertical-align: middle;
}

.menu-button span {
  vertical-align: middle;
}

.menu-button.active {
  color:#000;
  border-color: #222;
  font-weight: bold;
  background-color: #A2A3A1;
} 


button, input[type="text"] {
  padding: 5px;
}
  
  button:hover {
    cursor: pointer;
  }
  
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  .results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .results ul li {
    padding: 5px 15px;
    margin: 20px 0;
    border: solid 1px #555;
    background-color: #ddd;
    border-radius: 7px;
  }

  .results {
    margin-bottom: 50px;
  }

  .results>h2 {
    color: #222;
  }

  .results a {
    color: #002655;
    text-decoration: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
 }


  .menu-buttons {
    text-align:center;
  }


  .socialmedia {
    text-align:center;
  }
  .socialmedia>div {
    display:inline-block;
    margin: 0 3px;
    vertical-align: top;
  }

  .image-print {
    cursor: pointer;
  }

  #totop {
    color: #222;
    text-decoration: none;
  }
  

@media print {
  .print {
    display: block;
  }
  .noprint {
    display: none; 
  }
}

@media screen and (min-width: 600px) {
.socialmedia>div {
  margin: 0 10px;
  }
.form > * {
  width: auto;
  }
  .discover {
    margin: 40px 0;
  }
  .form {
    margin: 50px 0;
  }

  h1 {
    margin:0 0 40px 0;
  }
}  
