* {
    box-sizing: border-box;
  }
  
body {
  font-family: Verdana, sans-serif;
  background-color: #eee;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.info {
  text-align: center;
}

.discover {
  margin-top:40px;
  font-weight: bold;
  font-size: 48px;
  padding:0;
}

h1 {
  font-weight: normal;
  padding:0;
  margin:0 0 40px 0;
  color: #777;
  font-size: 38px;
  text-transform: lowercase;
}

.form {
  margin: 50px 0;
  padding: 20px;
  border: solid 1px #999;
  background-color: #ddd;
  border-radius: 7px;

}


.menu-buttons {
  margin-bottom: 50px;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  border: solid 1px #999;
  padding: 10px 24px;
  margin: 0 12px;
  border-radius: 3px;
  font-size: 16px;
  color:#555;
  background-color: #ddd;
  vertical-align: middle;
} 

.menu-button img {
  vertical-align: middle;
}

.menu-button span {
  vertical-align: middle;
}
.menu-button.active {
  color:#000;
  border-color: #000;
  font-weight: bold;
} 





button, input[type="text"] {
  padding: 5px;
}
  
  button:hover {
    cursor: pointer;
  }
  
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  .results ul {
    list-style-type: none;
  }
  .results ul li {
    padding: 10px;
    margin: 20px 0;
    border: solid 1px #999;
    background-color: #ddd;
    border-radius: 7px;
  }

  .results {
    margin-bottom: 50px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
 }

  .date-select {
    border: solid 1px #555;
    padding: 5px 15px;
    margin: 0 7px;
    border-radius: 3px;
    font-size: 16px;
    color:#555;
  }

  .menu-buttons {
    text-align:center;
  }


  .socialmedia {
    text-align:center;
  }
  .socialmedia>div {
    display:inline-block;
    margin: 0 10px;
    vertical-align: top;
  }

  .image-print {
    cursor: pointer;
  }
  

@media print {
  .print {
    display: block;
  }
  .noprint {
    display: none;
  }
}
